.cl-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 150px;
    margin-right:150px;
}

.cl-list {
    text-align: right;
    list-style-type: none;
    font-size: 13px;
    display: none;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    right: 15px;
    margin-top: 30px;
}
.cl-list li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.cl-list li{
    padding-bottom: 10px;
}

.cl-button {
    padding: 10px;
    background-color: #fffef8;
    border: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 15px;

}

body {
    background: #fffef8;
    line-height: 1;
}

.cl-search {
position: absolute;
left: 15px;
}
