.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-right: 100px;
    margin-left: 100px;
    border-top: solid 1px #393939;
    border-bottom: solid 1px #393939;
    padding-top: 30px;
    padding-bottom: 30px;

}

a {
    font-family:SURT, sans-serif;
    font-weight: 400;
    color: #393939;
    text-decoration: none;
}

footer {
    background: #fffef8;
    line-height: 1.8;
    font-size: 15px;
    
}

.footergrid1 a {
    display: block;

}

.footergrid2 a {
    display: block;

}

.footergrid3 a {
    display: block;

}

.footergrid4 a {
    display: block;

}

.footergrid5 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

    
    