/** Shopify CDN: Minification failed

Line 72:0 Unexpected "{"

**/
.products {
    padding-bottom: 8.6rem;
    position: relative;
    z-index: 1
}

@media (min-width: 1240px) {
    .products {
        padding-bottom: 14rem
    }
}

.products__inner {
    overflow: hidden
}

@media (min-width: 1240px) {
    .products__inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: -2.6rem;
        overflow: visible;
        transition: -webkit-transform .4s cubic-bezier(.445, .05, .55, .95);
        transition: transform .4s cubic-bezier(.445, .05, .55, .95);
        transition: transform .4s cubic-bezier(.445, .05, .55, .95), -webkit-transform .4s cubic-bezier(.445, .05, .55, .95);
        width: calc(75% - 3.2rem)
    }

    .filters-open .products__inner {
        transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
        transition: transform 1s cubic-bezier(.19, 1, .22, 1);
        transition: transform 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
        -webkit-transform: translateX(17%);
        transform: translate(17%)
    }
}

@media (min-width: 1500px) {
    .products__inner {
        margin-top: -3rem
    }

    .filters-open .products__inner {
        -webkit-transform: translateX(8.6%);
        transform: translate(8.6%)
    }
}

@media (min-width: 1920px) {
    .products__inner {
        margin-top: -4rem
    }
}

.products__inner .col--auto {
    width: 50%
}

@media (min-width: 1240px) {
    .products__inner .col--auto {
        padding-bottom: 1.2rem
    }
}

.products__inner .col--heading,
.products__inner .col--featured,
{
    display: none
}

@media (min-width: 1240px) {

    .products__inner .col--heading,
    .products__inner .col--featured {
        display: inline-block
    }
}

@media (min-width: 1240px) {
    .products__inner .col--featured {
        width: 66.7%;
        margin-bottom: 94px;
    }
}

@media (min-width: 1240px) {
    .products__inner .col--auto {
        width: 33.3%
    }
}

@media (min-width: 1240px) {

    [data-d-cols="2"] .products__inner .cols .col--heading,
    [data-d-cols="2"] .products__inner .cols .col--featured,
    [data-d-cols=gallery] .products__inner .cols .col--heading,
    [data-d-cols=gallery] .products__inner .cols .col--featured {
        display: none
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto {
        width: 50%
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--featured {
        width: 66.7%
    }
}

@media (max-width: 1239px) {
    body:not([data-d-cols="gallery"]) .products__inner .cols {
        display: flex;
        flex-wrap: wrap
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols {
        display: flex;
        flex-wrap: wrap
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(3) {
        order: 9 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(7) {
        order: 17 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(11) {
        order: 25 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(15) {
        order: 33 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(19) {
        order: 41 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(23) {
        order: 49 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(27) {
        order: 57 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(31) {
        order: 65 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(35) {
        order: 73 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(39) {
        order: 81 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(43) {
        order: 89 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(47) {
        order: 97 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(51) {
        order: 105 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(55) {
        order: 113 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(59) {
        order: 121 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(63) {
        order: 129 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(67) {
        order: 137 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(71) {
        order: 145 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(75) {
        order: 153 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(79) {
        order: 161 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(83) {
        order: 169 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(87) {
        order: 177 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(91) {
        order: 185 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(95) {
        order: 193 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(99) {
        order: 201 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(103) {
        order: 209 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(107) {
        order: 217 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(111) {
        order: 225 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(115) {
        order: 233 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(119) {
        order: 241 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(123) {
        order: 249 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(127) {
        order: 257 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(131) {
        order: 265 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(135) {
        order: 273 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(139) {
        order: 281 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(143) {
        order: 289 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(147) {
        order: 297 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(151) {
        order: 305 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(155) {
        order: 313 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(159) {
        order: 321 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(163) {
        order: 329 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(167) {
        order: 337 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(171) {
        order: 345 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(175) {
        order: 353 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(179) {
        order: 361 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(183) {
        order: 369 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(187) {
        order: 377 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(191) {
        order: 385 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(195) {
        order: 393 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(199) {
        order: 401 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(203) {
        order: 409 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(207) {
        order: 417 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(211) {
        order: 425 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(215) {
        order: 433 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(219) {
        order: 441 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(223) {
        order: 449 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(227) {
        order: 457 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(231) {
        order: 465 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(235) {
        order: 473 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(239) {
        order: 481 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(243) {
        order: 489 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(247) {
        order: 497 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(251) {
        order: 505 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(255) {
        order: 513 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(259) {
        order: 521 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(263) {
        order: 529 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(267) {
        order: 537 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(271) {
        order: 545 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(275) {
        order: 553 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(279) {
        order: 561 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(283) {
        order: 569 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(287) {
        order: 577 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(291) {
        order: 585 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(295) {
        order: 593 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(299) {
        order: 601 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(303) {
        order: 609 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(307) {
        order: 617 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(311) {
        order: 625 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(315) {
        order: 633 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(319) {
        order: 641 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(323) {
        order: 649 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(327) {
        order: 657 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(331) {
        order: 665 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(335) {
        order: 673 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(339) {
        order: 681 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(343) {
        order: 689 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(347) {
        order: 697 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(351) {
        order: 705 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(355) {
        order: 713 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(359) {
        order: 721 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(363) {
        order: 729 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(367) {
        order: 737 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(371) {
        order: 745 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(375) {
        order: 753 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(379) {
        order: 761 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(383) {
        order: 769 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(387) {
        order: 777 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(391) {
        order: 785 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(395) {
        order: 793 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(399) {
        order: 801 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(403) {
        order: 809 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(407) {
        order: 817 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(411) {
        order: 825 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(415) {
        order: 833 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(419) {
        order: 841 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(423) {
        order: 849 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(427) {
        order: 857 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(431) {
        order: 865 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(435) {
        order: 873 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(439) {
        order: 881 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(443) {
        order: 889 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(447) {
        order: 897 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(451) {
        order: 905 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(455) {
        order: 913 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(459) {
        order: 921 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(463) {
        order: 929 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(467) {
        order: 937 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(471) {
        order: 945 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(475) {
        order: 953 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(479) {
        order: 961 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(483) {
        order: 969 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(487) {
        order: 977 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(491) {
        order: 985 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(495) {
        order: 993 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(499) {
        order: 1001 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(503) {
        order: 1009 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(507) {
        order: 1017 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(511) {
        order: 1025 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(515) {
        order: 1033 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(519) {
        order: 1041 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(523) {
        order: 1049 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(527) {
        order: 1057 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(531) {
        order: 1065 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(535) {
        order: 1073 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(539) {
        order: 1081 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(543) {
        order: 1089 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(547) {
        order: 1097 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(551) {
        order: 1105 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(555) {
        order: 1113 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(559) {
        order: 1121 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(563) {
        order: 1129 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(567) {
        order: 1137 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(571) {
        order: 1145 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(575) {
        order: 1153 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(579) {
        order: 1161 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(583) {
        order: 1169 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(587) {
        order: 1177 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(591) {
        order: 1185 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(595) {
        order: 1193 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(599) {
        order: 1201 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(603) {
        order: 1209 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(607) {
        order: 1217 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(611) {
        order: 1225 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(615) {
        order: 1233 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(619) {
        order: 1241 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(623) {
        order: 1249 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(627) {
        order: 1257 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(631) {
        order: 1265 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(635) {
        order: 1273 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(639) {
        order: 1281 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(643) {
        order: 1289 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(647) {
        order: 1297 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(651) {
        order: 1305 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(655) {
        order: 1313 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(659) {
        order: 1321 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(663) {
        order: 1329 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(667) {
        order: 1337 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(671) {
        order: 1345 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(675) {
        order: 1353 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(679) {
        order: 1361 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(683) {
        order: 1369 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(687) {
        order: 1377 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(691) {
        order: 1385 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(695) {
        order: 1393 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(699) {
        order: 1401 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(703) {
        order: 1409 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(707) {
        order: 1417 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(711) {
        order: 1425 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(715) {
        order: 1433 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(719) {
        order: 1441 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(723) {
        order: 1449 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(727) {
        order: 1457 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(731) {
        order: 1465 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(735) {
        order: 1473 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(739) {
        order: 1481 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(743) {
        order: 1489 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(747) {
        order: 1497 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(751) {
        order: 1505 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(755) {
        order: 1513 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(759) {
        order: 1521 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(763) {
        order: 1529 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(767) {
        order: 1537 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(771) {
        order: 1545 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(775) {
        order: 1553 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(779) {
        order: 1561 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(783) {
        order: 1569 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(787) {
        order: 1577 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(791) {
        order: 1585 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(795) {
        order: 1593 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(799) {
        order: 1601 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(803) {
        order: 1609 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(807) {
        order: 1617 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(811) {
        order: 1625 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(815) {
        order: 1633 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(819) {
        order: 1641 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(823) {
        order: 1649 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(827) {
        order: 1657 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(831) {
        order: 1665 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(835) {
        order: 1673 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(839) {
        order: 1681 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(843) {
        order: 1689 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(847) {
        order: 1697 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(851) {
        order: 1705 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(855) {
        order: 1713 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(859) {
        order: 1721 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(863) {
        order: 1729 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(867) {
        order: 1737 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(871) {
        order: 1745 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(875) {
        order: 1753 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(879) {
        order: 1761 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(883) {
        order: 1769 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(887) {
        order: 1777 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(891) {
        order: 1785 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(895) {
        order: 1793 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(899) {
        order: 1801 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(903) {
        order: 1809 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(907) {
        order: 1817 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(911) {
        order: 1825 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(915) {
        order: 1833 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(919) {
        order: 1841 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(923) {
        order: 1849 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(927) {
        order: 1857 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(931) {
        order: 1865 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(935) {
        order: 1873 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(939) {
        order: 1881 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(943) {
        order: 1889 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(947) {
        order: 1897 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(951) {
        order: 1905 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(955) {
        order: 1913 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(959) {
        order: 1921 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(963) {
        order: 1929 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(967) {
        order: 1937 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(971) {
        order: 1945 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(975) {
        order: 1953 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(979) {
        order: 1961 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(983) {
        order: 1969 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(987) {
        order: 1977 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(991) {
        order: 1985 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(995) {
        order: 1993 !important
    }
}

@media (min-width: 1240px) {
    [data-d-cols="2"] .products__inner .cols .col--auto:nth-of-type(999) {
        order: 2001 !important
    }
}

[data-d-cols=gallery] .products__inner .cols {
    margin-left: -.2rem;
    margin-right: -.2rem
}

@media (min-width: 1240px) {
    [data-d-cols=gallery] .products__inner .cols {
        margin-left: -.4rem;
        margin-right: -.4rem
    }
}

@media (min-width: 1500px) {
    [data-d-cols=gallery] .products__inner .cols {
        margin-left: -.8rem;
        margin-right: -.8rem
    }
}

[data-d-cols=gallery] .products__inner .cols .col--auto {
    padding-bottom: .4rem;
    padding-left: .2rem;
    padding-right: .2rem;
    width: 16.6666666667%
}

@media (min-width: 1240px) {
    [data-d-cols=gallery] .products__inner .cols .col--auto {
        padding-bottom: .8rem;
        padding-left: .4rem;
        padding-right: .4rem
    }
}

@media (min-width: 1500px) {
    [data-d-cols=gallery] .products__inner .cols .col--auto {
        padding-bottom: 1.6rem;
        padding-left: .8rem;
        padding-right: .8rem;
        width: 11.1%
    }
}

.products__listing {
    position: relative
}

.products__listing a {
    text-decoration: none
}

.products__listing a .product_image--hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s cubic-bezier(.445, .05, .55, .95), visibility 0s .5s;
    visibility: hidden
}

@media (min-width: 1240px) {
    .products__listing a:hover {
        text-decoration: none;
        opacity: 1;
        transition: unset;
        color: #393939
    }

    .products__listing a:hover .product_image--hover {
        opacity: 1;
        transition: opacity .5s cubic-bezier(.445, .05, .55, .95);
        visibility: visible
    }
}

.dynamic-checkout--btns {
    padding-bottom: 3rem
}

.products__listing-image {
    position: relative;
  /*  aspect-ratio: 0.6666;*/
}

.products__listing-image a:first-child {
    display: block;
    overflow: hidden;
    position: relative
}

.products__listing-image a:first-child:active {
    text-decoration: underline;
}

.products__listing-image video,
.products__listing-image img {
    height: auto;
    width: 100%
}

.products__listing-image img {
    z-index: 1
}

.products__listing-image video {
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    transition: opacity .5s cubic-bezier(.445, .05, .55, .95), visibility 0s .5s;
    visibility: hidden;
    z-index: 2
}

@media (min-width: 1240px) {
    .products__listing-image video {
        display: block
    }
}

@media (min-width: 1240px) {
    .products__listing-image a[data-video=true] video {
        opacity: 1;
        transition: opacity .5s cubic-bezier(.445, .05, .55, .95);
        visibility: visible
    }
}

.products__listing-image .pdp-main__save-btn.smartwishlist {
    background-color: #fffef8;
    display: flex;
    font-weight: 500;
    letter-spacing: 0;
    padding: 1.4rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    line-height: unset;
    height: 100%;
    border: 0.1rem solid #393939;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    color: #393939;
}


.products__listing-image .pdp-main__save-btn.smartwishlist.unbookmarked::after {
    content: "SAVE";
    color: #393939;
}

.products__listing-image .pdp-main__save-btn.smartwishlist.bookmarked::after {
    content: "REMOVE";
}

.products__listing-image .pdp-main__save-btn.smartwishlist span {
    display: none;
}

.products__listing-image--featured {
    padding-bottom: calc((50% - 1.6rem)*1.5);
    position: relative
}

@media (min-width: 1500px) {
    .products__listing-image--featured {
        padding-bottom: calc((50% - 1.6rem)*1.5)
    }
}

@media (min-width: 1920px) {
    .products__listing-image--featured {
        padding-bottom: calc((50% - 1.6rem)*1.5)
    }
}

.products__listing-image--featured img {
    position: absolute
}

.products__listing-image--featured img:first-child {
 /*   height: 100%; */
    left: 0;
    top: 0;
    width: 100%
}

.products__listing-image--featured img.featured--mask {
    height: calc(100% - 4vw);
    left: 50%;
    -webkit-transform: translate(-50%, 2vw);
    transform: translate(-50%, 2vw);
    width: auto;
    border-radius: 30% 100% 100% 30%/0 75% 75% 0
}

.products__listing-details {
    padding: 1.6rem 1.6rem 1.6rem .5rem;
}

.products__listing-details:empty {
    padding-top: 0
}

[data-d-cols=gallery] .products__listing-details {
    display: none
}

@media (min-width: 1240px) {
    .products__listing-details {
        padding-bottom: 3rem;
        padding-left: 0;
        padding-right: 0
    }
}

.products__listing-details .tag {
    min-height: 1.3rem
}

.products__listing-details p:last-child {
    margin-bottom: 1.2rem
}

.products__listing-details .btn {
    padding: .8rem
}

@media (min-width: 768px) {
    .products__listing-details .btn {
        padding: 1.3rem
    }
}

.products__subheading {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    padding: 7.2rem 2.6rem 9.7rem;
    text-align: center
}

@media (min-width: 1240px) {
    .products__subheading {
        max-width: 92rem;
        padding-bottom: 18.5rem;
        padding-top: 13.7rem
    }
}

.products__listing-quick-add {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 1001;
    display: block;
    opacity: 1;
    text-align: center;
}

@media (min-width: 768px) {
    .products__listing-quick-add {
        display: none;
        bottom: 1rem;
        left: 0;
        top: auto;
    }
}

/*[data-quick-add-list="true"] .products__listing-quick-add {
    display: none;
}*/

[data-quick-add="true"] .products__listing-quick-add {
    display: block;
}

body[data-d-cols="gallery"] .products__listing-quick-add {
    display: none;
}

.products__listing-quick-add .smartwishlist {
    position: relative;
    text-transform: uppercase !important;
    font-size: .9rem !important;
    color: #393939 !important;
    padding: .8rem !important;
    transition: opacity .4s ease-out;
    white-space: nowrap;
    width: calc(50% - 1.4rem);
    text-align: center;
    margin-left: unset !important;
    display: none;
}

@media (min-width: 1920px) {
    .products__listing-quick-add .smartwishlist {
        font-size: 1rem !important
    }
}

@media (min-width: 768px) {
    .products__listing-quick-add .smartwishlist {
        display: unset;
    }

    [data-quick-add="true"] .products__listing-quick-add .smartwishlist {
        display: none;
    }
}

.products__listing-quick-add .smartwishlist .fa {
    display: none !important
}

.products__listing-quick-add .smartwishlist:before {
    content: "Save for later" !important;
    position: relative;
    z-index: 1
}

.products__listing-quick-add .smartwishlist:after {
    content: "";
    background-color: #fffef8 !important;
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important
}

.products__listing-quick-add .smartwishlist.bookmarked:before {
    content: "Remove from saved" !important
}

@media (min-width: 1240px) {
    .products__listing-quick-add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity .4s ease-out
    }

    .products__listing-image:hover .products__listing-quick-add,
    [data-quick-add=true] .products__listing-quick-add,
    .products__listing-quick-add:focus-within {
        opacity: 1;
        pointer-events: all
    }

    [data-quick-add=true] .products__listing-image:hover .products__listing-quick-add button {
        opacity: 0;
        pointer-events: none
    }

    [data-d-cols=gallery] .products__listing-quick-add {
        display: none
    }
}

.products__listing-quick-add button {
    border: none;
    display: flex;
    font-size: .9rem;
    opacity: 1;
    padding: 0 9px;
    transition: opacity .4s ease-out;
    white-space: nowrap;
    width: calc(50% - 1.4rem);
    margin: 0;
    min-width: fit-content;
    background-color: transparent;
    justify-content: end;
}

@media (min-width: 1920px) {
    .products__listing-quick-add button {
        font-size: 1rem
    }
}

@media (min-width: 768px) {
    .products__listing-quick-add button {
        min-width: unset;
        background-color: #fffef8;
        padding: .8rem;
        margin-right: .8rem;
        display: inline-block;
    }

    [data-quick-add="true"] .products__listing-quick-add button {
        display: none;
    }
}

.products__listing-quick-add button span:first-child {
    display: none;
}

.products__listing-quick-add button span:nth-child(2) {
    font-family: SURT, sans-serif;
    font-size: 6vw;
    line-height: 6vw;
    color: #393939;
    opacity: .75;
    font-weight: 100;
}

.products__listing-quick-add button span:nth-child(2):hover,
.products__listing-quick-add button span:nth-child(2):active {
    color: black;
}

.products__listing-quick-add button svg {
    display: block;
    position: relative;
    width: 22%;
    height: auto;
    opacity: .5;
}

.products__listing-quick-add button svg:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .products__listing-quick-add button span:first-child {
        display: block;
    }

    .products__listing-quick-add button svg,
    .products__listing-quick-add button span:nth-child(2) {
        display: none;
    }
}

.products__listing-quick-add .products__listing-quick-add-details {
    position: absolute;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    min-height: 5.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: #fffef8;
    z-index: 2
}
.select-size-open .products__listing-quick-add-details {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}
.select-size-open .products__listing-quick-add {
  display:none;
}
@media (min-width: 1240px) {
    .products__listing-quick-add-details {
        transition: opacity .4s ease-out, visibility 0s .4s
    }
}
[data-quick-add=true] .products__listing-quick-add-details {
    opacity: 1;
    /*visibility: visible;*/
    pointer-events: all;
    background-color: transparent;
    position: fixed;
    top: 33%;
    bottom: 0;
}

@media (min-width: 1240px) {
    [data-quick-add=true] .products__listing-quick-add-details {
        transition: opacity .4s ease-out;
    }
}

@media (min-width: 768px) {
    [data-quick-add=true] .products__listing-quick-add-details {
        position: absolute;
        background-color: #fffef8;
        top: unset;
        visibility: visible;
    }
}

.products__listing-quick-add-title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 10002;
    background-color: #fffef8;
    width: 100%;
    position: relative;
    padding: 9px 0;
    margin-bottom: 0;
}

@media (min-width: 1240px) {
    .products__listing-quick-add-title {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0
    }
}

.products__listing-quick-add-title button {
    display: block;
    z-index: 100003;
    position: absolute;
    right: 0;
    top: 4px;
    width: 20px;
    padding: 0;
    margin-right: .8rem;
}

.products__listing-quick-add-title button svg {
    stroke: black;
    width: 20px;
    height: auto;
}

@media (min-width: 768px) {
    .products__listing-quick-add-title button {
        display: none;
    }
}

.products__listing-quick-add-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 10002;
    position: relative;
    background-color: #fffef8;
    width: 100%;
    max-height: 40vh;
    overflow: auto;
}

@media (min-width: 768px) {
    .products__listing-quick-add-options {
        width: unset;
        flex-direction: row;
        flex-flow: wrap;
        overflow: hidden;
    }
}

.products__listing-quick-add-options__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    pointer-events: auto;
    background-color: #000;
    opacity: .5;
}

[data-quick-add=true] .products__listing-quick-add-options__overlay {
    display: block;
}

@media (min-width: 768px) {
    [data-quick-add=true] .products__listing-quick-add-options__overlay {
        display: none;
    }
}

.products__listing-quick-add__mobile-container {
    width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 9;
}

.products__listing-quick-add-item {
    margin-block: 1.1rem;
    min-width: 20%;
    max-height: 1rem;
    width: auto;
    text-align: center
}

.products__listing-quick-add .products__listing-quick-add-item a {
    font-size: 1.1rem;
    padding: 1.1rem 0;
    font-size: 13px;
}

@media (min-width: 768px) {
   .products__listing-quick-add .products__listing-quick-add-item a {
        padding: .7rem 0;
        font-size: 11px;
    }
}

.products__listing-quick-add-item .disabled {
    color: #c8c7ba;
    pointer-events: none
}

.products__listing-quick-add-success {
    background-color: #fffef8;
    bottom: 0;
    left: 1rem;
    min-height: 5.2rem;
    opacity: 0;
    visibility: hidden;
    padding-top: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem
}

@media (min-width: 1240px) {
    .products__listing-quick-add-success {
        transition: opacity .4s ease-out, visibility 0s .4s
    }
}

.products__listing-image:hover .products__listing-quick-add-success {
    opacity: 0;
    pointer-events: none
}

[data-quick-add=success] .products__listing-image:hover .products__listing-quick-add-success {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity .4s ease-out
}

.products__listing-quick-add-success .products__listing-quick-add-title {
    padding-top: 1rem
}

.products__listing-image--featured img.lazyloaded {
    position: absolute
}

.products__listing-image--featured a {
    position: unset !important
}

body.is-filtered .col--featured,
body.is-filtered .col--heading {
    display: none !important
}

body.is-filtered .product-grid__item.filtered-item {
    display: inline-block !important
}

.product-grid__item[not-visible] {
    content-visibility: initial;
}

.pagination {
    opacity: 0
}

.products__listing .pdp-main__size-and-cart {
    z-index: 1004;
}

@media (min-width: 768px) {
    .products__listing .pdp-main__size-and-cart {
        display: none;
    }
}

.products__listing .pdp-main__size-and-cart__inner {
    padding-bottom: 30px;
}

.products__listing-image a.pdp-main__size-and-cart-close {
    position: absolute;
}

div.pdp-main__size-and-cart__inner {
    transition: none;
}

div.pdp-main__variation-selector--size {
   max-height: 30vh;
}

.template-collection aside.off-canvas--right {
    height: 100%;
}
@media (max-width:600px)  {
  .template-page-wishlist .products__listing-quick-add {
    display: none;
  }
}
.products__listing-image .pdp-main__btns .btn--clear {
    text-align: center;
    margin-right: 0.6rem 
}

.products__listing-image.mobile-only {
    overflow: hidden;
}

.products__listing-image.mobile-only ul.gallery {
    padding-left: 0;
    display: flex;
}

.products__listing-image.mobile-only ul.gallery li {
    list-style: none;
    width: 100%;
    min-width: 100%;
}

.products__listing-image.mobile-only ul.gallery li:first-child {
    list-style: none;
    display: block;
}

.products__listing-image.mobile-only ul.dots {
    bottom: 6px;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    will-change: opacity;
    z-index: 50;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.products__listing-image.mobile-only ul.dots li {
    background-color: #fffef8;
    border-radius: 50%;
    height: 0.3rem;
    margin-bottom: 1.7rem;
    transition: background-color .5s cubic-bezier(.445,.05,.55,.95);
    width: 0.3rem;
}

.products__listing-image.mobile-only ul.dots[data-current="0"] li:nth-child(1),
.products__listing-image.mobile-only ul.dots[data-current="1"] li:nth-child(2),
.products__listing-image.mobile-only ul.dots[data-current="2"] li:nth-child(3),
.products__listing-image.mobile-only ul.dots[data-current="3"] li:nth-child(4),
.products__listing-image.mobile-only ul.dots[data-current="4"] li:nth-child(5),
.products__listing-image.mobile-only ul.dots[data-current="5"] li:nth-child(6),
.products__listing-image.mobile-only ul.dots[data-current="6"] li:nth-child(7),
.products__listing-image.mobile-only ul.dots[data-current="7"] li:nth-child(8),
.products__listing-image.mobile-only ul.dots[data-current="8"] li:nth-child(9),
.products__listing-image.mobile-only ul.dots[data-current="9"] li:nth-child(10),
.products__listing-image.mobile-only ul.dots[data-current="10"] li:nth-child(11),
.products__listing-image.mobile-only ul.dots[data-current="11"] li:nth-child(12),
.products__listing-image.mobile-only ul.dots[data-current="12"] li:nth-child(13),
.products__listing-image.mobile-only ul.dots[data-current="13"] li:nth-child(14),
.products__listing-image.mobile-only ul.dots[data-current="14"] li:nth-child(15),
.products__listing-image.mobile-only ul.dots[data-current="15"] li:nth-child(16),
.products__listing-image.mobile-only ul.dots[data-current="16"] li:nth-child(17),
.products__listing-image.mobile-only ul.dots[data-current="17"] li:nth-child(18),
.products__listing-image.mobile-only ul.dots[data-current="18"] li:nth-child(19),
.products__listing-image.mobile-only ul.dots[data-current="19"] li:nth-child(20) {
    background-color: #393939
}

body[data-d-cols="gallery"] .products__inner .products__listing-image ul.dots {
    display: none;
}
